
<!-- <button (click)="boardq()">display board</button> -->
<!-- <div *ngIf="tf()"> -->
    <!-- <div *ngFor="let ba of brd"> -->
        
    <!-- <div *ngFor="let s  Sizes">
        <tr>
            <td> {{ba}} </td>
        </tr>
        
    </div> -->

    <!-- <div *ngIf="brea(ba)">
        <br>
    </div> -->
        <!-- <p class="cc">{{ba}}</p> -->
    <!-- </div> -->
<div class="txx">
    <button (click)="changeclour()">refresh</button>
    
    <tr>
        <td class="end" id="p1">&nbsp;1</td>
        <td id="p2">&nbsp;2</td>
        <td id="p3">&nbsp;3</td>
        <td id="p4">&nbsp;4</td>
        <td id="p5">&nbsp;5</td>
    </tr>
    <tr>
        <td id="p6">&nbsp;6</td>
        <td id="p7" class="end">&nbsp;7</td>
        <td id="p8">&nbsp;8</td>
        <td id="p9">&nbsp;9</td>
        <td id="p10" class="snake">&nbsp;10</td>
    </tr>
    <tr>
        <td id="p11">&nbsp;11</td>
        <td id="p12">&nbsp;12</td>
        <td id="p13">&nbsp;13</td>
        <td id="p14">&nbsp;14</td>
        <td id="p15" class="end">&nbsp;15</td>
    </tr>
    <tr>
        <td id="p16">&nbsp;16</td>
        <td id="p17" class="snake">&nbsp;17</td>
        <td id="p18">&nbsp;18</td>
        <td id="p19">&nbsp;19</td>
        <td id="p20">&nbsp;20</td>
    </tr>
    <tr>
        <td id="p21">&nbsp;21</td>
        <td id="p22">&nbsp;22</td>
        <td id="p23" class="snake">&nbsp;23</td>
        <td id="p24">&nbsp;24</td>
        <td id="p25">&nbsp;25</td>
    </tr>
    <div *ngIf="func()"></div>
    <div>{{win}}</div>
</div>
<!-- </div> -->